{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
{% if contest and request.user %}
    <div class="row border-bottom border-gray">
        <div class="col">
            <h6 class="pb-2 mb-0">{% trans 'Contest' %}: {{ contest.name }} </h6>
        </div>
        <div class="col text-right">
            Role: {{ participant.role.name }}
        </div>
    
    </div>
	<div class="row pt-4">
		<ul>
		{% for table in tables.all %}
			<li><a href="/competitions/table/{{ table.id }}">{{ table.name }}</a></li>
		{% endfor %}
		</ul>
	</div>
{% else %}
<p> {% trans 'Invalid Contest ID' %} .</p>
{% endif %}
</div>
{% endblock %}
