{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<form>
{% if contest %}
    <div class="my-3 p-3 bg-white rounded box-shadow form-group">
        <h6 class="border-bottom border-gray pb-2 mb-0">{% trans 'Beer Score Sheet' %}: {{ contest.name }}</h6>

	<div class="row">
	    <div class="col p-5 align-items-left">
	        <div class="form-group">
	            <label for="judge-name">Judge Name (print)</label> {{ user.firstname }} {{ user.lastname }}<br />
	            <label for="judge-bjcp-id">Judge BJCP ID</label> { user.bjcpid }<br />
	            <label for="judge-bjcp-email">Judge Email</label> {{ user.email }}<br />
	        </div>
	
	        <div class="form-group">
	            <h6 class="border-bottom border-gray pb-2 mb-0">BJCP Rank or Status:</h6>
	            <input class="form-check-input" type="checkbox" value="" name="apprentice" id="apprentice">
	            <label class="form-check-label" for="apprentice">Apprentice</label>
	            <input class="form-check-input" type="checkbox" value="" name="recognized" id="recognized">
	            <label class="form-check-label" for="recognized">Recognized</label>
	            <input class="form-check-input" type="checkbox" value="" name="national" id="national">
	            <label class="form-check-label" for="">Certified</label><br />
	
	            <input class="form-check-input" type="checkbox" value="" name="grand_master" id="grand_master"> 

	            <label class="form-check-label" for="national">National</label>
	            <input class="form-check-input" type="checkbox" value="" name="master" id="master">
	            <label class="form-check-label" for="master">Master</label>
	            <input class="form-check-input" type="checkbox" value="" name="honormaster" id="honormaster">
	            <input class="form-check-input" type="checkbox" value="" name="certified" id="certified">
	            <label class="form-check-label" for="">Grand Master</label><br />

	            <label class="form-check-label" for="honormaster">Honorary Master</label>
	            <input class="form-check-input" type="checkbox" value="" name="honorgm" id="honorgm">


	            <label class="form-check-label" for="honogm">Honorary GM</label>
	
	            <input class="form-check-input" type="checkbox" value="" name="mead_judge" id="mead_judge">
	            <label class="form-check-label" for="">Mead Judge</label><br />


	            <input class="form-check-input" type="checkbox" value="" name="provisional_judge" id="provisional_judge">
	            <label class="form-check-label" for="">Provisional Judge</label>
	
	            <input class="form-check-input" type="checkbox" value="" name="rank_pending" id="rank_pending">
	            <label class="form-check-label" for="">Rank Pending</label>
	
	
	
	            <input class="form-check-input" type="checkbox" value="" name="cider_judge" id="cider_judge">
	            <label class="form-check-label" for="">Cider Judge</label><br />
	        </div>
	        <div class="form-group">
	            <h6 class="border-bottom border-gray pb-2 mb-0">Non-BJCP Qualifications:</h6>
	
	            <input class="form-check-input" type="checkbox" value="" name="prof_brewer" id="prof_brewer">
	            <label class="form-check-label" for="">Professional Brewer</label>
	
	            <input class="form-check-input" type="checkbox" value="" name="beer_somelier" id="beer_somelier">
	            <label class="form-check-label" for="">Beer Sommelier</label>
	            <input class="form-check-input" type="checkbox" value="" name="gabf_wbc" id="gabf_wbc">
	
	            <label class="form-check-label" for="">GABF/WBC</label><br />

	            <input class="form-check-input" type="checkbox" value="" name="cert_cicerone" id="cert_cicerone">
	            <label class="form-check-label" for="">Certified Cicerone</label>
	
	            <input class="form-check-input" type="checkbox" value="" name="adv_cicerone" id="adv_cicerone">
	            <label class="form-check-label" for="">Adv. Cicerone</label>
	
	            <input class="form-check-input" type="checkbox" value="" name="master_cicerone" id="master_cicerone">
	            <label class="form-check-label" for="">Master Cicerone</label><br />
	
	            <input class="form-check-input" type="checkbox" value="" name="sensory" id="sensory">
	            <label class="form-check-label" for="">Sensory Training</label>
	
	            <input class="form-check-input" type="checkbox" value="" name="non-bjcp-sensory" id="non-bjcp-other">
	            <label class="form-check-label" for="">Other</label><input type="text" class="form-control" name="non-bjcp-qual-other" placeholder="Other">
	        </div>
	
	        <div class="form-group">
	            <h6 class="border-bottom border-gray pb-2 mb-0">Descriptor Definitions (Mark all that apply):</h6>
	
	            <input class="form-check-input" type="checkbox" value="" name="acetaldehyde" id="acetaldehyde">
	            <label class="form-check-label" for="">Acetaldehyde</label> – Green apple-like aroma and flavor. Appearance (as appropriate for style)<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="alcoholic" id="alcoholic">
	            <label class="form-check-label" for="">Alcoholic</label> – The aroma, flavor, and warming effect of ethanol and higher alcohols. Sometimes described as hot.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="astringent" id="astringent">
	            <label class="form-check-label" for="">Astringent</label> – Puckering, lingering harshness and/or dryness in the finish/aftertaste; harsh graininess; huskiness.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="diacetyl" id="aiacetyl">
	            <label class="form-check-label" for="">Diacetyl</label> – Artificial butter, butterscotch, or toffee aroma and flavor. Sometimes perceived as a slickness on the tongue.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="dms" id="dms">
	            <label class="form-check-label" for="">DMS (dimethyl sulfide)</label> – At low levels a sweet, cooked or canned corn-like aroma and flavor.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="estery" id="estery">
	            <label class="form-check-label" for="">Estery</label> – Aroma and/or flavor of any ester (fruits, fruit flavorings, or roses).<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="grassy" id="grassy">
	            <label class="form-check-label" for="">Grassy</label> – Aroma/flavor of fresh-cut grass or green leaves.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="light-Struck" id="light-Struck">
	            <label class="form-check-label" for="">Light-Struck</label> – Similar to the aroma of a skunk. Mouthfeel (as appropriate for style)<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="metallic" id="metallic">
	            <label class="form-check-label" for="">Metallic</label> – Tinny, coiny, copper, iron, or blood-like flavor.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="oxidized" id="oxidized">
	            <label class="form-check-label" for="">Oxidized</label> – Any one or combination of stale, winy/vinous, cardboard, papery, or sherry-like aromas and flavors. <br />
	
	            <input class="form-check-input" type="checkbox" value="" name="phenolic" id="phenolic">
	            <label class="form-check-label" for="">Phenolic</label> – Spicy (clove, pepper), smoky, plastic, plastic adhesive strip, and/or medicinal (chlorophenolic). Overall Impression<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="musty" id="musty">
	            <label class="form-check-label" for="">Musty</label> – Stale, musty, or moldy aromas/flavors.
	
	            <input class="form-check-input" type="checkbox" value="" name="solvent" id="solvent">
	            <label class="form-check-label" for="">Solvent</label> – Aromas and flavors of higher alcohols (fusel alcohols). Similar to acetone or lacquer thinner aromas.<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="sour-acidic" id="sour-acidic">
	            <label class="form-check-label" for="">Sour/Acidic</label> – Tartness in aroma and flavor. Can be sharp and clean (lactic acid), or vinegar-like (acetic acid).<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="sour-acidic" id="sour-acidic">
	            <label class="form-check-label" for="">Sulfur</label> – The aroma of rotten eggs or burning matches.<br />
	
	
	            <input class="form-check-input" type="checkbox" value="" name="vegetal" id="vegetal">
	            <label class="form-check-label" for="">Vegetal</label> – Cooked, canned, or rotten vegetable aroma and flavor (cabbage, onion, celery, asparagus, etc.)<br />
	
	            <input class="form-check-input" type="checkbox" value="" name="yeasty" id="yeasty">
	            <label class="form-check-label" for="">Yeasty</label> – A bready, sulfury or yeast-like aroma or flavor.<br />
	        </div>
	        <div class="form-group">
	            Outstanding (45 - 50): World-class example of style.<br />
	            Excellent (38 - 44): Exemplifies style well, requires minor fine-tuning.<br />
	            Very Good (30 - 37): Generally within style parameters, some minor flaws.<br />
	            Good (21 - 29): Misses the mark on style and/or minor flaws.<br />
	            Fair (14 - 20): Off flavors/aromas or major style deficiencies. Unpleasant.<br />
	            Problematic (00 - 13 ): Major off flavors and aromas dominate. Hard to drink.<br />
	        </div>
	
	    </div> 
	    <div class="col">
	        <div class="form-group">
	            <label for="category">Category #</label> <input class="form-control" name="category" type="text" placeholder="Category">
	            <label for="subcategory">Subcategory (spell out)</label> <input class="form-control" name="subcategory" type="text" placeholder="Subcategory">
	
	            <label for="special-ingredients">Special Ingredients:</label><input class="form-control" name="special_ingredients" type="text" placeholder="Special Ingredients">
	            <label for="subcategory">Subcategory (a-f)</label><input class="form-control" name="subcategory" type="text" placeholder="Subcategory">
	            <label for="entry">Entry</label><input class="form-control" name="entry" type="text" placeholder="Entry">
	            <label for="bottle">Bottle Inspection:</label> <input class="form-check-input" type="checkbox" value="" name="bottle" id="bottle"> Comments<input class="form-control" name="bottle" type="text" placeholder="Bottle">
	            Appropriate size, cap, fill level, label removal, etc.
	        </div>
	        <div class="form-group">
	            <label for="entry">Comments</label><input class="form-control" name="comments" type="text" placeholder="Comments">
	            <label for="aroma">Aroma</label> (as appropriate for style) Comment on malt, hops, esters, and other aromatics<input class="form-control" name="aroma" type="text" placeholder="Aroma">
	            <label for="apperance">Apperance</label> Comment on color, clarity, and head (retention, color, and texture)<input class="form-control" name="apperance" type="text" placeholder="Apperance">
	
	            <label for="apperance">Flavor</label> (as appropriate for style) Comment on malt, hops, fermentation characteristics, balance, finish/aftertaste, and other flavor characteristics<input class="form-control" name="flavor" type="text" placeholder="Flavor">
	
	            <label for="mouthfeel">Mouthfeel</label> Comment on body, carbonation, warmth, creaminess, astringency, and other palate sensations<input class="form-control" name="mouthfeel" type="text" placeholder="Mouthfeel">
	
	            <label for="mouthfeel">Overall Impression</label> Comment on overall drinking pleasure associated with entry, give suggestions for improvement <input class="form-control" name="overall" type="text" placeholder="overall">
	        </div>
	        <div class="form-group">
	            Stylistic Accuracy
	
	            <label class="form-check-label" for="">Classic Example</label>
	            <input class="form-check-input" type="checkbox" value="" name="style-4" id="style-4">
	            <input class="form-check-input" type="checkbox" value="" name="style-3" id="style-3">
	            <input class="form-check-input" type="checkbox" value="" name="style-2" id="style-2">
	            <input class="form-check-input" type="checkbox" value="" name="style-1" id="style-1">
	            <label class="form-check-label" for="">Not To Style</label>
	
	            Technical Merit
	
	            <label class="form-check-label" for="">Flawless</label>
	            <input class="form-check-input" type="checkbox" value="" name="technical-4" id="technical-4">
	            <input class="form-check-input" type="checkbox" value="" name="technical-3" id="technical-3">
	            <input class="form-check-input" type="checkbox" value="" name="technical-2" id="technical-2">
	            <input class="form-check-input" type="checkbox" value="" name="technical-1" id="technical-1">
	            <label class="form-check-label" for="">Significant Flaws</label>
	
	            Intangibles
	
	            <label class="form-check-label" for="">Wonderful</label>
	            <input class="form-check-input" type="checkbox" value="" name="intangilble-4" id="intangilble-4">
	            <input class="form-check-input" type="checkbox" value="" name="intangilble-3" id="intangilble-3">
	            <input class="form-check-input" type="checkbox" value="" name="intangilble-2" id="intangilble-2">
	            <input class="form-check-input" type="checkbox" value="" name="intangilble-1" id="intangilble-1">
	            <label class="form-check-label" for="">Lifeless</label>
	        </div>
	    </div>
    </div>
</form>
{% else %}
<p> {% trans 'Invalid Contest ID' %} .</p>
{% endif %}
{% endblock %}








