{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}

{% if participant.role.level < 3 or participant.id == None %}
<p> {% trans 'You need to be judge to do do this' %} .</p>
 {% else %}

<form action="{% url 'score' table_item.id %}" method="POST">
{% csrf_token %}
{% if contest and table %}
    <input type="hidden" name="table_id" value="{{ table.id }}">
    <input type="hidden" name="contest_id" value="{{ contest.id }}">
    <input type="hidden" name="table_item_id" value="{{ table_item.id }}">
    <div class="my-3 p-3 bg-white rounded box-shadow form-group">
    <div class="row p-3 border-bottom border-gray">
        <div class="col text-left">
            <h4 class="pb-2 mb-0 font-weight-bold">{% trans 'Beer Score Sheet' %}: <a href="{% url 'detail' contest.id %}">{{ contest.name }}</h4></a>
        </div>

    </div>
    <div class="row p-3 border-bottom border-gray">
<!--
        <div class="col">
            <h6 class="pb-2 mb-0">{% trans 'Contest' %}: {{ table.contest.name }}</h6>
        </div> 
-->
        <div class="col ">
            <h6>{% trans 'Table' %}: <a href="{% url 'table' table.id %}">{{ table.name }}</a></h6>
        </div>
        <div class="col ">
            <h6><a href="{% url 'profile' participant.user.id %}">{{ participant.user.first_name }} {{ participant.user.last_name }}  ({{ participant.role.name }})</a></h6>
        </div>
        <div class="col ">
            <h6>{% trans 'Beer' %}: <a href="--ADD THIS-- % url 'beer' table_item.id %">ADD BEER PROFILE {{ table_item }}</a></h6>
        </div>
        <div class="col ">
            <h6>{% trans 'Brewery' %}: <a href="--ADD THIS-- % url 'brewery' table_item.brand.id %">ADD BREWERY PROFILE {{ table_item.brand.name }}</a></h6>
        </div>

        <div class="col ">
            <h6>{% trans 'Score' %}: {{ score_sheet.total_score }}</h6>
        </div>



        <div class="col pb-2 pl-3 text-right">
            <button type="submit" class="btn btn-primary">Score Beer</button>
        </div>
    </div>


    <div class="row">
        {% include "ss_judge_info.html" %}
        {% include "ss_descriptors.html" %}
        {% include "ss_scoring_guide.html" %}
        {% include "ss_attributes.html" %}
        {% include "ss_aroma_attributes.html" %}
        {% include "ss_apperance_attributes.html" %}
        {% include "ss_flavor_attributes.html" %}
        {% include "ss_mouthfeel_attributes.html" %}
        {% include "ss_overall_attributes.html" %}
        {% include "ss_stylistic_accuracy.html" %}
    </div>
    <div class="row p-3 border-top border-gray">
        <div class="col ">
             <h4>{% trans 'Score' %}: {{ score_sheet.total_score }}</h4>
        </div>
        <div class="col text-right">
            <button type="submit" class="btn btn-primary">Score Beer</button>
        </div>
    </div>
</form>
{% else %}
<p> {% trans 'Invalid Contest ID' %} .</p>
{% endif %}
{% endif %}
{% endblock %}








