            <div class="form-group">
                <h5 class="border-bottom border-gray font-weight-bold">Descriptor Definitions (Mark all that apply):</h5>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Acetaldehyde" id="acetaldehyde" {% if ss_descriptors.Acetaldehyde != None %}checked{% endif%}>
                        <label class="form-check-label font-weight-bold" for="">Acetaldehyde</label> – Green apple-like aroma and flavor. Appearance (as appropriate for style)<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Alcoholic" id="alcoholic" {% if ss_descriptors.Alcoholic != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Alcoholic</label> – The aroma, flavor, and warming effect of ethanol and higher alcohols. Sometimes described as hot.<br />
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Astringent" id="astringent" {% if ss_descriptors.Astringent != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Astringent</label> – Puckering, lingering harshness and/or dryness in the finish/aftertaste; harsh graininess; huskiness.<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Diacetyl" id="diacetyl" {% if ss_descriptors.Diacetyl != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Diacetyl</label> – Artificial butter, butterscotch, or toffee aroma and flavor. Sometimes perceived as a slickness on the tongue.<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="DMS" id="dms" {% if ss_descriptors.DMS != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">DMS (dimethyl sulfide)</label> – At low levels a sweet, cooked or canned corn-like aroma and flavor.<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Estery" id="estery" {% if ss_descriptors.Estery != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Estery</label> – Aroma and/or flavor of any ester (fruits, fruit flavorings, or roses).<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Grassy" id="grassy" {% if ss_descriptors.Grassy != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Grassy</label> – Aroma/flavor of fresh-cut grass or green leaves.<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Light_struck" id="light_Struck" {% if ss_descriptors.Light_struck != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Light-Struck</label> – Similar to the aroma of a skunk. Mouthfeel (as appropriate for style)<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Metallic" id="metallic" {% if ss_descriptors.Metallic != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Metallic</label> – Tinny, coiny, copper, iron, or blood-like flavor.<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Oxidized" id="oxidized" {% if ss_descriptors.Oxidized != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Oxidized</label> – Any one or combination of stale, winy/vinous, cardboard, papery, or sherry-like aromas and flavors. <br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Phenolic" id="phenolic" {% if ss_descriptors.Phenolic != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Phenolic</label> – Spicy (clove, pepper), smoky, plastic, plastic adhesive strip, and/or medicinal (chlorophenolic). Overall Impression<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Musty" id="musty" {% if ss_descriptors.Musty != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Musty</label> – Stale, musty, or moldy aromas/flavors.
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Solvent" id="solvent" {% if ss_descriptors.Solvent != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Solvent</label> – Aromas and flavors of higher alcohols (fusel alcohols). Similar to acetone or lacquer thinner aromas.<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Sour_acidic" id="sour_acidic" {% if ss_descriptors.Sour_acidic != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Sour/Acidic</label> – Tartness in aroma and flavor. Can be sharp and clean (lactic acid), or vinegar-like (acetic acid).<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Sulfur" id="sulfur" {% if ss_descriptors.Sulfur != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Sulfur</label> – The aroma of rotten eggs or burning matches.<br />
                    </div>
    
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Vegetal" id="vegetal" {% if ss_descriptors.Vegetal != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Vegetal</label> – Cooked, canned, or rotten vegetable aroma and flavor (cabbage, onion, celery, asparagus, etc.)<br />
                    </div>
    
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" name="Yeasty" id="yeasty" {% if ss_descriptors.Yeasty != None %}checked{% endif %}>
                        <label class="form-check-label font-weight-bold" for="">Yeasty</label> – A bready, sulfury or yeast-like aroma or flavor.<br />
                    </div>
            </div>

