            <div class="form-group">
                <div class="form-group row">
                    <div class="form-check col font-weight-bold text-center">
                        Scoring Guide
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check col font-weight-bold">
                        Outstanding (45 - 50):
                    </div>
                    <div class="form-check col">
                        World-class example of style.
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check col font-weight-bold">
                        Excellent (38 - 44):
                    </div>
                    <div class="form-check col">
                        Exemplifies style well, requires minor fine-tuning.<br />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check col font-weight-bold">
                        Very Good (30 - 37):
                    </div>
                    <div class="form-check col">
                        Generally within style parameters, some minor flaws.<br />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check col font-weight-bold">
                        Good (21 - 29):
                    </div>
                    <div class="form-check col">
                        Misses the mark on style and/or minor flaws.<br />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check col font-weight-bold">
                        Fair (14 - 20):
                    </div>
                    <div class="form-check col">
                        Off flavors/aromas or major style deficiencies. Unpleasant.<br />
                    </div>
                </div>
                <div class="form-group row">
                    <div class="form-check col font-weight-bold">
                        Problematic (00 - 13 ):
                    </div>
                    <div class="form-check col">
                        Major off flavors and aromas dominate. Hard to drink.<br />
                    </div>
                </div>
            </div>
    
        </div> 

