{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="my-3 p-3 bg-white rounded box-shadow">
<h4 class="border-bottom border-gray pb-2 mb-0">{% trans 'Profile' %}</h4>
{% if not request.user %}
<p>You most be logged to do this.</p>
{% else %}
<form method="post">

    {% csrf_token %}
	
	<div class="form-group row pt-4">
		<div class="col-sm-2">
			<label class="font-weight-bold" for="id_username">{% trans 'Username' %}:</label>
		</div>
		<div class="col-sm-3">
            <input type="text" class="form-control" name="username" size="20" autofocus required id="id_username" value="{{ request.user  }}" disabled>
		</div>
    </div>

	<div class="form-group row">
		<div class="col-sm-2">
			<label class="font-weight-bold" for="first_name">{% trans 'First Name' %}:</label>
		</div>
		<div class="col-sm-3">
            <input type="text" class="form-control" name="first_name" size="20" autofocus required id="first_name" value="{{ request.user.first_name }}" placeholder="{% trans 'First Name' %}">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2">
			<label class="font-weight-bold" for="lastname_name">{% trans 'Last Name' %}:</label>
		</div>
		<div class="col-sm-3">
            <input type="text" class="form-control" name="last_name" size="20" autofocus required id="last_name" value="{{ request.user.last_name }}" placeholder="{% trans 'Last Name' %}">
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2">
			<label class="font-weight-bold" for="bjcp_id">{% trans 'BJCP ID' %}:</label>
		</div>
		<div class="col-sm-3">
            <input type="text" class="form-control" name="bjcp_id" size="20" autofocus id="bjcp_id" value="{{ bjcp_id }}" placeholder="{% trans 'BJCP ID' %}"> 
		</div>
		<div class="col-sm-1">
            <button type="button" class="btn btn-secondary">{% trans 'Authorize' %}</button>
		</div>
	</div>

	<div class="form-group row">
		<div class="col-sm-2">
			<label class="font-weight-bold" for="cicerone_id">{% trans 'Cicerone' %}:</label>
		</div>
		<div class="col-sm-3">
            <input type="text" class="form-control" name="cicerone_id" size="20" autofocus id="cicerone_id" value="{{ cicerone_id }}" placeholder="{% trans 'Cicerone' %}">
		</div>
		<div class="col-sm-1">
            <button type="button" class="btn btn-secondary">{% trans 'Authorize' %}</button>
		</div>
	</div>


	<div class="col-sm-1">
        <button type="submit" class="btn btn-primary">{% trans 'Save' %}</button>
    </div>

</form>
{% endif %}

</div>
{% endblock %}
